@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #8f714b;
  --foreground: #5a4633;
  --highlight: #d4c1a3;
  --border: #b8860b;
  --text: #f5f5f5;
  --textBlack: #2e1108;
  --textLogo: #c4ab5a;
  --textGreen: #2b3e5c;
}
body {
  color: var(--text);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

/* Custome swiper */
.swiper-button-prev,
.swiper-button-next {
  --swiper-navigation-color: var(--background);
}

.mySwiper .swiper-slide {
  filter: brightness(0.5);
  transition-duration: 200ms;
}

.mySwiper .swiper-slide-thumb-active {
  filter: brightness(1);
}
